*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clock{
    padding: 20px;
    background-color: rgb(233, 233, 56);
    width: auto;
    height: auto;

    color: #212121;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 8rem;
    letter-spacing: 5px;

    border-radius: 7px;
}